body {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainHeader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 80px;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 30px;
}

nav a {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.landingPageContent {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landingPageContent .imageAndText1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landingPageContent .imageAndText2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landingPageContent .imageAndText2 p {
  background-color: #bec9c5;
}

.landingPageContent p {
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  margin: 0px;
  font-family: "Mulish", sans-serif;
  font-size: 15px;
}

.landingPageContent img {
  width: 45%;
}

.logInContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95vw;
  height: 100vh;
  background-color: #e1cfc1;
}

.logInForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logInForm button {
  background-color: #bec9c5;
}

.createUserContent {
  background-color: #bec9c5;
  width: 95vw;
  height: 100vh;
}

.createUserFrom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.createUserFrom button {
  background-color: #e1cfc1;
}

.mySiteWrapper {
  background-color: #d0d9f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95vw;
}

.mySiteContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.userContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}

.userInfoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 40%;
  padding: 15px;
  height: 300px;
}

.userInfoWrapper h3 {
  font-family: "Mulish", sans-serif;
}

.userInfoWrapper p {
  font-family: "Playfair Display", serif;
}

.userProdsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  width: 40%;
  padding: 15px;
}

.userProdsWrapper article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.userProdsWrapper h3 {
  font-family: "Mulish", sans-serif;
}

.userProdsWrapper button {
  background-color: #bec9c5;
}

.userProdsWrapper p {
  margin: 0px;
}

.userProdList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.userProd {
  padding: 10px;
  width: 150px;
  height: 100px;
  background-color: lightgray;
  margin: 5px;
}

.userProd p {
  font-family: "Mulish", sans-serif;
}

.addNewProdWrapper {
  background-color: #e1cfc1;
  width: 95vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addNewProdWrapper button {
  background-color: #bec9c5;
}

.addNewProdContentWrapper {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radioBtnSection label {
  font-family: "Playfair Display", serif;
}

.addNewProdForm {
  background-color: white;
  margin-left: 30px;
  padding: 30px;
  width: 90%;
}

.twoSections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.twoSections .firstSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.twoSections .secondSection {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thirdSection {
  margin-bottom: 30px;
}

.productListWrapper {
  background-color: #bec9c5;
  width: 95vw;
  height: 100%;
}

.prodList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.theProdArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 450px;
  height: 300px;
  background-color: white;
  margin: 30px;
  padding: 30px;
}

.theProdArticle h3, .theProdArticle h4 {
  font-family: "Mulish", sans-serif;
}

.theProdArticle p {
  margin: 0px;
}

.theProdArticle .wrapperImgBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.theProdArticle img {
  height: 150px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.theProdArticle button {
  width: 150px;
}

.noLinkStyle {
  text-decoration: none;
  color: #2e2f29;
}

.currentPage {
  font-weight: 800;
}

.buttonStyle {
  width: 300px;
  height: 35px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.184);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.184);
  font-family: "Mulish", sans-serif;
  background-color: #f5f5f5;
  font-size: 16px;
  cursor: pointer;
}

.labelStyle {
  font-family: "Mulish", sans-serif;
}

.paraStyle {
  font-family: "Mulish", sans-serif;
  text-align: center;
}

.inputStyle {
  width: 300px;
  height: 20px;
  border: none;
  border-radius: 30px;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.184);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.184);
  padding: 6px;
  font-family: "Mulish", sans-serif;
  margin: 5px 0px 20px 0px;
}

.hideElem {
  display: none;
}
/*# sourceMappingURL=style.css.map */