@import "variables.scss", "mixins.scss";

//För alla sidor
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    padding-bottom: 80px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;

    a {
        font-family: $sansSerifFont;
        font-weight: 500;
        font-size: 20px;
    }
}

h1 {
    font-family: $serifFont;
    font-weight: normal;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: $sansSerifFont;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

//För startsidan

.landingPageContent {
    width: 90%;
    display: flex;
    flex-direction: column;

    .imageAndText1 {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .imageAndText2 {
        width: 100%;
        display: flex;
        flex-direction: row;

        p {
            background-color: $mintGreen;
        }
    }

    p {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $lightGray;
        margin: 0px;
        font-family: $sansSerifFont;
        font-size: 15px;
    }

    img {
        width: 45%;
    }
}

//För logga in sidan
.logInContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    height: 100vh;
    background-color: $lightBeige;
}

.logInForm {
    display: flex;
    flex-direction: column;

    button {
        background-color: $mintGreen;
    }
}

//För skapa användare sidan
.createUserContent {
    background-color: $mintGreen;
    width: 95vw;
    height: 100vh;
}

.createUserFrom {
    display: flex;
    flex-direction: column;

    button {
        background-color: $lightBeige;
    }
}

//För min sida 

.mySiteWrapper {
    background-color: $babyBlue;
    display: flex;
    width: 95vw;
    height: 100vh;
}

.mySiteContent {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.userInfoWrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40%;
    padding: 15px;
    
    p {
        font-family: $serifFont;    
    }
}

.userProdsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightGray;
    width: 40%;
    padding: 15px;

    h3 {
        font-family: $sansSerifFont;
    }

    button {
        background-color: $mintGreen;
    }
}

.userProdList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.userProd {
    width: 80px;
    height: 80px;
    background-color: gray;
    margin: 5px;
}

//Style klasser

.noLinkStyle {
    text-decoration: none;
    color: $black;
}

.currentPage {
    font-weight: 800;
}

.buttonStyle {
    width: 300px;
    height: 35px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.184);
    font-family: $sansSerifFont;
    background-color: $lightGray;
    font-size: 16px;
    cursor: pointer;
}

.labelStyle {
    font-family: $sansSerifFont;
}

.paraStyle {
    font-family: $sansSerifFont;
    text-align: center;
}

.inputStyle {
    width: 300px;
    height: 20px;
    border: none;
    border-radius: 30px;
    background-color: $lightGray;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.184);
    padding: 6px;
    font-family: $sansSerifFont;
    margin: 5px 0px 20px 0px;
}